<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/d6ec06bbe9.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/home/index.js" defer></script>
    <link rel="stylesheet" href="/css/home/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <div class="title">
        <i class="fab fa-accusoft"></i>
        TaehoonCoding
      </div>
      <ul class="options">
        <li><a href="#">Home</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Weddings</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Bookings</a></li>
      </ul>
      <div class="icons">
        <i class="far fa-kiss-wink-heart"></i>
        <i class="fas fa-kiwi-bird"></i>
      </div>
      <a href="#" class="more"><i class="fas fa-bars"></i></a>
    </div>
  </body>
</html>
